# The Site Configuration

# Import the remote theme (for GitHub Pages)
remote_theme: cotes2020/jekyll-theme-chirpy

# The language of the webpage
lang: en

# Change to your timezone
timezone: Asia/Seoul

# --------------------------
# jekyll-seo-tag settings
# --------------------------

title: YUZ # the main title
tagline: 2년차 개발자. P History Blog # it will display as the sub-title
description: >-
  A minimal, responsive and feature-rich Jekyll theme for technical writing.

# Fill in the protocol & hostname for your site.
url: "https://porsche812.github.io"

github:
  username: porsche812

social:
  name: porsche812
  email: porsche812@naver.com
  links:
    - https://twitter.com/username
    - https://github.com/porsche812

google_site_verification:

google_analytics:
  id:

# Prefer color scheme
theme_mode: # [light|dark]

img_cdn:

avatar: assets/img/main/poo.png

# Table of contents
toc: true

comments:
  active:
  disqus:
    shortname:
  utterances:
    repo:
    issue_term:
  giscus:
    repo:
    repo_id:
    category:
    category_id:
    mapping:
    input_position:
    lang:
    reactions_enabled:

assets:
  self_host:
    enabled:
    env:

pwa:
  enabled: true

paginate: 10

baseurl: ""

# ------------ Advanced config ------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/
  - scope:
      path: assets/img/favicons
    values:
      swcache: true
  - scope:
      path: assets/js/dist
    values:
      swcache: true

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - rollup.config.js
  - package*.json

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

# --------------------------
# Plugins (for GitHub Pages)
# --------------------------
plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-feed
